html {
  font-size: 25px;
  font-family: 'Quantico', sans-serif;
   background-color: #4f4a59;
}

h1 {
  font-size: 66px;
  text-align: center;
  margin: 30;
  padding: 20px 0;
  color: #62577a;
  text-shadow: 3px 3px 1px white;
}

h2 {
  font-size: 32px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2.5;
  letter-spacing: 1px;
}


body {
  width: 600px;
  margin: 30 auto;
  background-color: #2c1d4a;
  padding: 0 20px 20px 20px;
  border: 5px solid white;
}

img {
  display: block;
  margin: 0 auto;
}
